# Ignore simulation intermediate outputs
data/scenarios/
data/scenarios/*.rds
data/scenarios/*.Rds
data/scenarios/*.rda
data/scenarios/*.Rda

# macOS junk
.DS_Store

# RStudio user settings
.Rproj.user/
